/bin
/dist
/ext
/data
parser.out
parsetab.py
*.pyc
*~
*.jar
*.class
/store
/journal
/src/python/shared/generated/
/src/java/com/asgow/ciel/protocol/
/src/c/src/loader
/src/csharp/bin/
*.dll
*.exe
*.o
*.so
binomial-fc
stream_consumer
stream_producer