

#wrapper {
  text-align: left;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

body {
    background-color:#000020;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12pt;
    color:#000000;
    text-align: center;
    min-width: 800px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}


h1.pageheader {
    height: 200px;
    width: 800px;
    background: #0d259e url('http://www.cl.cam.ac.uk/~dgm36/ciel-logo.png') no-repeat bottom left;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 72pt;
    color: #ffffff;
    overflow: hidden;
    line-height: 600px;
    margin: 0 0 0 0;
    border-top-left-radius: 15px 5px;
    border-top-right-radius: 15px 5px;
    border-bottom-left-radius: 15px 5px;
    border-bottom-right-radius: 15px 5px;
}

#content {
    background-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-left-radius: 15px 5px;
    border-top-right-radius: 15px 5px;
    border-bottom-left-radius: 15px 5px;
    border-bottom-right-radius: 15px 5px;
    clear: both;
    height: 100%;
    overflow: auto;
}

p {
    margin: 0 0 12pt 0;
    padding: 0 0 0 0;
}

#sidebar {
    float: right;
    float: right;
    width: 175px;
    height: 100%;
    margin: 5px 0 5px 0;
    padding: 0 10px 0 10px;
}

#sidebar ul {
    margin: 0 0 0 0;
    list-style-type: none;
    padding: 0 0 0 0;
}

#sidebar ul li {
    border-top: 1px solid gray;
    padding-bottom: 10px;
}

#sidebar ul li ul li {
    border-top: none;
    padding-bottom: 0px;
}

#sidebar ul ul {
    margin: 0 0 0px 20px;
    list-style-type: disc;
}



#article-nosidebar {
    width: 780px;
    margin: 5px 0 5px 0;
    padding: 0 10px 0 10px;
    overflow: hidden;
}

#article-withsidebar {
    float: left;
    width: 580px;
    border-right: 1px solid #cccccc;
    margin: 5px 0 5px 0;
    padding: 0 10px 0 10px;
    overflow: hidden;
}

ul.threebigbuttons {
    padding: 0;
    margin: 10px 0 20px 0;
    text-align: center;
}

ul.threebigbuttons li {
    list-style-type: none;
    display: inline-block;
}

ul.threebigbuttons li a {
    display: block;
    width: 250px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
    background: #777777;
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#777));
    background: -moz-linear-gradient(top,  #ccc,  #999);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#999999');
    vertical-align: bottom;
    text-decoration: none;
}

ul.threebigbuttons li a:hover {
    text-decoration: underline;
}

ul.threebigbuttons div.caption {
    color: #0d259e;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

ul.threebigbuttons li img {
    border-style: none;
}

ul.peoplelist {
    border-top: 1px solid gray;
    margin: 12pt 0 12pt 0;
    padding: 0 0 0 0;
}

ul.peoplelist li {
    margin: 0 0 0 0;
    border-bottom: 1px solid gray;
    height: 100%;
    clear: both;
    overflow: auto;
    list-style-type: none;
    padding: 5px 5px 5px 5px;
}

ul.peoplelist li.odd {
    background: #cccccc;
}

ul.peoplelist li img {
    float: right;
    padding: 0 0 0 10px;
}

ul.peoplelist li.odd img {
    float: left;
    padding: 0 10px 0 0;
}

#pagefooter {
    clear: both;
    font-size: 8pt;
    padding-top: 10px;
    color: #ffffff;
}

#content h1 {
    margin-top: 0;
}

.ribbon-holder {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 10em;
  right: 0;
}

.ribbon {
  display: block;
  background-color: #a00;
  /* top right corner */
  position: relative;
  right: -3em;
  top: 2.5em;
  /* 45 deg ccw rotation */
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  /* shadow */
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
}
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 0.5em #444;
}
